Unidad_Didáctica_8_Visualización_de_Datos/EjerciciosPropuestoTema8.rar
Proyecto_Final_CURSO_Yuniel_Villalon/datos/metacritic_game_info.csv
Proyecto_Final_CURSO_Yuniel_Villalon/datos/metacritic_game_user_comments.csv
Proyecto_Final_CURSO_Yuniel_Villalon/datos/PlayStoreGameAppInfoReview.json
